@charset "UTF-8";
table tr{
	height: 35px;
	text-align: center;
	word-break: keep-all;
}

table tr:nth-child(even){/*偶数行背景色*/
	background-color: #F8F8F8;
}

td > span{
	color:red;
}
	form table tr td:nth-child(odd){/*奇数列*/
	text-align: right;
	/*color:#F1AF00;*/
}
form table tr td:nth-child(even){/*偶数列*/
	text-align: left;
}

form table tr td#btnPanel{
	text-align: center;
}


table tr a{
	text-decoration: none;
	color: white;
	background-color: #5BC0DE;
	padding:3px 20px;
	border-radius: 3px;
}

input{
	width: 150px;
	height: 20px;
	border-radius: 3px;
	border:1px solid lightgrey;
}
input[type='button'],
input[type='submit'],
input[type='reset'],
button{
	width: 100px;
	height: 25px;
	border: none;
	background-color: #5BC0DE;
	color:white;
	cursor: pointer;
	margin:10px;
}

input:focus,
select:focus{
	border-color:darkgrey;
}

table tr a:hover{
	color:black;
	cursor:pointer;
}
input:hover{
	color:black;
}

input[readonly="readonly"]:hover{
	border:1px solid lightgrey;
}

table tr a[href='#']:hover{
	color:white;
	cursor:default;
}